<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--接口地址-->
    <add key="URLBaseMoFang" value="http://landauni.ngrok.cc/yilucaifu-open/insurance/channelApi/" />
    <!--渠道商身份标识-->
    <add key="Customkey" value="bowangjishi" />
    <!--渠道密钥-->
    <add key="VI" value="c8d994c2e6f824eb9fc54e49c0d771c1" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>