<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BWJSConn" connectionString="data source=192.168.1.8;initial catalog=BWJSDB;persist security info=false;user id=sa;password=bwjs001" providerName="System.Data.SqlClient" />
    <add name="MofangConn" connectionString="data source=192.168.1.8;initial catalog=MofangDB;persist security info=false;user id=sa;password=bwjs001" providerName="System.Data.SqlClient" />
    <add name="BWJSLogConn" connectionString="data source=192.168.1.8;initial catalog=BWJSLog;persist security info=false;user id=bwjstest;password=bwjstest.1234" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>