<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-XBWN.LoanApi-20171128030210.mdf;Initial Catalog=aspnet-XBWN.LoanApi-20171128030210;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="BWJSConn" connectionString="data source=.;initial catalog=BWJSDB;persist security info=false;user id=bwjsonline;password=bwjs_2017" providerName="System.Data.SqlClient" />
    <add name="MofangConn" connectionString="data source=.;initial catalog=MofangDB;persist security info=false;user id=bwjsonline;password=bwjs_2017" providerName="System.Data.SqlClient" />
    <add name="BWJSLogConn" connectionString="data source=.;initial catalog=BWJSLog;persist security info=false;user id=bwjsonline;password=bwjs_2017" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>
    <!--连接串是否加密-->
    <add key="ConStringEncrypt" value="false" />

    <!--信博维诺对接移动端来源-->
    <add key="source" value="BWPC" />
    <!--信博维诺对接渠道来源-->
    <add key="sourceChannel" value="18" />
    <!--信博维诺对接地址-->
    <add key="xinboweinuoApi" value="http://47.104.9.170:80" />
    <!--信博维诺对接地址(大额新端口)正式地址待定-->
    <add key="newxinboweinuoApi" value="http://192.168.1.168:8086" />
    <!--信博维诺对接贷款公钥-->
    <add key="publicKey" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCTVTAir38huCqIEcWNSVlBSSFuHIHq+EOsJNhcmin4BqmQazLB/RdWonPgeZRZNNOHOuAqQVHW84gHgoGu1+LsI7ui2tppqcUDcwuoBVvrpjM+Se4KKa+JgMHroPW+DqbavoqThyIxC9tad4nL6awpb4TM4ku8d2yt/c8cwRahUQIDAQAB" />
    <!--信博维诺对接贷款私钥-->
    <add key="privateKey" value="MIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBAKYa2u9VWd62gQzjkr3TFbQGHhf7fQuShZCleISBdMsggBdp6/Hb1PBD+7A0bzDyHcN+e6zGeTmdFJKfFL0VGftmgPCeH5mO1YJ98Rx5iWswXDD+k6LBfG6cFhYhiktjuLgHQ5eTL9sfnsugfpgBzPCg+Xjtsv+gK2WdqjWWmQ75AgMBAAECgYBDef9cYGDMv3j3Qm93G4vigOWyumAW1mPZ2c52jZxjdAV0/Xty2enL3OIet34/9OswYm5dRpcyV2RnF6a2FR9jQIA/A7DxzxcKkW7Du2x92JeEtLk/D8jfYJFTCebgenn+W9XQCFO8SAPHLzDC0BNkE1GlH7WU9x03S8d9mvcIDQJBANlXDd5wi/31y6NaJZrUKMgRPOnPsZpGszC3CGMBg2aQYhsa4HqjhfhGAmNWemfWYwTFI5nJZL0IHUNKuCWiDEcCQQDDprjVlr/LHi5zMDpmRz45RySKyh4MfQWNdkUXH/6pHvspPwjd6eDc/09F6FWYcR0vh6sxZ4k08mRpbHeyP+q/AkAsm4R6MilZb3hjR55OP9s67ObOqlUub/JZPkfXYjkg9ONd4s9N/IADrALTdq1a4JKkKP4ck0w8zAyNgil3d+IDAkEAub1okdUIhYNEo7QwbPLLnsLsbRpOhpqWD+Ms2jRUpie0V0bxWwNypzt1/a8Au7T++SV6H2/kcTCApRkFVWKarwJAalI8f9WacNlYyFtB8E37lRXELt9bzyBuuDLproaJO7p8/k6THES0kRGXuPBfoGJA0io73rD4S4rELVwe0BBtoA==" />
    <!--信博维诺对接cookie键值-->
    <add key="cookieKey" value="token" />

  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>