<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
 </connectionStrings>
  <appSettings>
    <add key="BWJS.Shell1" value="D:\bwjs\BWJS.Shell1.exe"/>
    <add key="BWJS.Shell2" value="D:\bwjs\BWJS.Shell2.exe"/>

  </appSettings>
</configuration>
