.yjfk{
	color: #fb6113;
	font-size: 28px;
}
.bg_title{
	border: 1px solid #e5e5e5;
}
.parent_div{
	margin: 40px auto;width: 90%;border: 1px solid #e5e5e5;
}
.title_p{
	height: 70px;
    font-size: 24px;
    color: #fb6113;
    width: 150px;
    line-height: 70px;
    margin: 0;
    padding-left: 45px;
}
.content_yz{
	padding-left: 45px;
	border-bottom: 1px solid #e5e5e5;
	/*font-size: 14px;*/
}
.content_yz span{
	display: inline-block;
	color: #666;
	height: 50px;
	line-height: 50px;
}
.content_yz .span1{
	width: 35%;
	margin-right: 10px;
}
.content_yz .span2{
	width: 10%;
}
.ml30{
	margin-left: 30px;
}
.bt1{
	border-top: 1px solid #e5e5e5;
}
.content_yz .br1{
	border-right: 1px solid #e5e5e5;
}
.content_yz .span2 .success,.content_ts .span2 .success,.content_yz .span2 .error,.content_ts .span2 .error{
	color: #fff;
	background: #65b678;
	width: 60%;
	display: inline-block;
	text-align: center;
	border-radius: 6px;
	height: 30px;
	line-height: 30px;
	font-style: normal;
}
.jbxx_p .p_sj{
	display: inline-block;
    font-size: 16px;
    color: #999;
    padding: 10px 0;
}
.jbxx_p .p1{
	width: 12%;
    padding-left: 5%;
}
.jbxx_p .p2{
	width: 50%;
	padding-left : 5%;
}
.jbxx_p .p3{
	width: 36%;
}
.jbxx_p .p4{
	width: 80%;
	padding-left: 5%;
}
.jbxx_p .vt{
	vertical-align: top;
	padding-top: 20px;
}
.bgnr{
	font-size:20px;margin-top: 20px;height: 60px;line-height: 60px;color: #fff;background: #fb6113;
}